/**
 * Base SCSS
 */

body {
	opacity: 1;
	font-family: $font-primary;
	color: $c1;
	font-size: $font-size-default;
}

a {
	color: $c1;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $c1;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-size: $font-size-big;
	margin: 0;
}

.wrapper {
	width: calc(100% - 54px);
	margin-left: 54px;
}

footer {
	display: none;
}

.projects {
	padding: 10px 0;
	margin-left: -10px;
}

.project {
	float: left;
	padding: 10px;
	cursor: pointer;
	transition: all 0.3s linear;
	> img {
		height: 30vh;
		width: auto;
		box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.35);
		transition: all 0.1s linear;
	}

	&:hover > img {
		box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.6);
	}
}

#sort-button {
	position: fixed;
	right: 20px;
	top: calc(50% - 20px);
	background: url("../img/sort.png") center center / contain no-repeat;
	cursor: pointer;
	width: 40px;
	height: 40px;
	z-index: 100;
}

#project-detail {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 100%;
	background-color: beige;
	transition: all 0.5s ease-in-out;
}

#site-intro {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $c2;
	z-index: 100;
	overflow: hidden;
	transition: all 0.4s linear;
	display: none;

	h1 {
		font-size: 100px;
		font-size: 14vw;
		line-height: 1;
		text-align: center;
		padding: 0 1vw;
		width: 100%;
	}
}

#video-intro {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	transition: top 0.3s ease-in-out;
}

#ruven-app {
	opacity: 0;
	transition: opacity 0.2s linear;
}

.single-project {
	display: none;
}

body {
	&.active-intro #site-intro {
		display: block;
	}

	&.active-project #project-detail {
		left: 0;
	}

	&.active-intro,
	&.active-video {
		#site-header,
		#site-footer,
		.wrapper {
			display: none;
		}
	}

	&.app-loaded {
		#video-intro {
			top: -110vh;
		}
		#ruven-app {
			opacity: 1;
		}
	}
}
