@font-face {
	font-family: "marguerite_groteskregular";
	src: url("../fonts/marguerite/margueritegrotesk-regular-webfont.woff2")
			format("woff2"),
		url("../fonts/marguerite/margueritegrotesk-regular-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}
